<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top mt-3">
	<p class="col-md-5 mb-0 text-muted">Bản quyền &copy; 2022 bởi DH20TH2.</p>
	<a href="/" class="col-md-2 d-flex align-items-center justify-content-center">
		<i class="bi bi-newspaper"></i>
	</a>
	<ul class="nav col-md-5 justify-content-end">
		<li class="nav-item"><a href="/tinmoinhat" class="nav-link px-2 text-muted">Tin mới nhất</a></li>
		<li class="nav-item"><a href="/dangnhap" class="nav-link px-2 text-muted">Đăng nhập</a></li>
		<li class="nav-item"><a href="/dangky" class="nav-link px-2 text-muted">Đăng ký</a></li>
		<li class="nav-item"><a href="/lienhe" class="nav-link ps-2 pe-0 text-muted">Liên hệ</a></li>
	</ul>
</footer>